$text-color: whitesmoke;
$background-color: #1e1e1e;
$primary-color: #f9f871;
$hover-color: #fab565;
$primary-font: "Kalam";

@import url("https://fonts.googleapis.com/css?family=Kalam");

* {
	color: $text-color;
}

body {
	background-color: $background-color;
}

.title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
    margin: 40px 0;
    font-family: $primary-font;
    /* 밑에 테두리 */
    border-bottom: 1px solid $primary-color;
}

.input-base-color {
	background-color: $background-color;
	&:focus {
		background-color: $background-color;
		color: $text-color;
	}
	&:focus~label {
		--bs-body-bg: $background-color;
		--bs-body-color-rgb: 255, 255, 255;
	}
	color: $text-color;
}

.btn {
    border-color: $primary-color;
    background-color: $background-color;
	color: $text-color;
    &:hover {
        background-color: $hover-color;
    }
}

.link-base-color {
	color: $text-color;
	text-decoration: none;
	&:hover {
		color: #bababa;
		text-decoration: underline;
	}
}

.text-point-color {
	color:  $primary-color;
}

