@import 'colors';
@import 'fonts';
@import 'title';
@import 'button';

* {
	color: $text-color;
}

body {
	background-color: $background-color;
}

.input-base-color {
	background-color: $background-color;
	&~label {
		--bs-body-bg: $background-color;
		--bs-body-color-rgb: 255, 255, 255;
	}
	color: $text-color;
	&:focus {
		background-color: $background-color;
		color: $text-color;
	}
	&:focus~label {
		--bs-body-bg: $background-color;
		--bs-body-color-rgb: 255, 255, 255;
	}
}

.link-base-color {
	color: $text-color;
	text-decoration: none;
	&:hover {
		color: #bababa;
		text-decoration: underline;
	}
}

.text-point-color {
	color:  $primary-color;
}

