@import 'colors';
@import 'fonts';
@import 'title';

* {
	color: $text-color;
}

body {
    background-color: $background-color;
}

.match-making
{
    font-size: 40px;
    /* 중앙 정렬 */
    text-align: center;
    margin: 60px 0;
}

.match-user
{
    font-size: 40px;
    /* 중앙 정렬 */
    text-align: center;
    margin: 60px 0;
}