@import 'colors';
@import 'fonts';
@import 'title';

body {
    background-color: $background-color;
}

h1 {
    font-family: $primary-font;
    color: $primary-color;
}

button.btn-lg {
    margin-top: 30px;
}

.lead {
    font-size: 1.5em;
    font-family: $primary-font;
    color: $primary-color;
}

.form-control {
    color: $text-color;
    margin-bottom: 30px;
    border-color: $text-color;
    background-color: $background-color;
    &::placeholder {
        color: $text-color;
    }
    
    
    &:focus {
        color: $text-color;
        background-color: $background-color;
    }
}

.form-label {
    color: $text-color;
}

.btn {
    border-color: $primary-color;
    background-color: $background-color;
    &:hover {
        background-color: $hover-color;
    }
}



.game-example {
    width: 500px;
    height: 500px;
    background-color: #616060;
}